<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yk47.Studentmanage"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".EventSActivity"
            android:label="Events"></activity>
        <activity
            android:name=".EventTActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="Events"/>
        <activity android:name=".NoticSActivity"
            android:label="Notice" />
        <activity
            android:name=".NoticTActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="Notice"/>
        <activity android:name=".AssignmentTActivity"
            android:label="Assignment"/>
        <activity android:name=".AttendanceSActivity"
            android:label="Attendance"/>
        <activity android:name=".MyRecycleViewActivity" />
        <activity
            android:name=".AttendanceTActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="Attendance"/>
        <activity android:name=".ResultShowActivity"
            android:label="Result"/>
        <activity android:name=".ResultStuActivity"
            android:label="Result"/>
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TeachLoginActivity" />
        <activity android:name=".StudentActivity" />
        <activity
            android:name=".TeachersActivity"
            android:label="@string/app_name" />
        <activity android:name=".RegisterActivity"
            android:label="Registration"/>
        <activity
            android:name=".AppinfoActivity"
            android:label="App information" />
        <activity
            android:name=".StdLoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ResultTActivity"
            android:label="Result"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>